:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    justify-content: center;
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    width: fit-content;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.contenedores {
    display: flex;
    flex-direction: column;
}S

.contenedores_1, .contenedores_2, .contenedores_3, .contenedores_4 {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 768px){
    .contenedores{
        display: flex;
        flex-direction: row;
    }
}

.contenedor {
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    width: fit-content;
    max-height: fit-content;
    background-color:#f0f0f0;
    padding: 1rem;
}

.header {
    text-align: center;
}

.speedometer {
    width: 15rem;
    height: 7.5rem;
    background-color:#ffffff;
    border-radius: 7.5rem 7.5rem 0 0;
    position: relative;
    overflow: hidden;
    
}

.speedometer .needle {
    width: 2px;
    height: 7rem;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(-90deg);
    transition: transform 0.5s ease-in-out;
}

.speedometer::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.speedometer-mark {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 5px;
    background-color: #000;
    transform-origin: bottom;
    /*transform: translateX(-50%);*/
}

.speedometer-mark:nth-child(10n) {
    height: 5px;
}

.vel_value {
    position: relative;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
}

/*-----rose-----*/

.rose {
    width: 15rem;
    height: 15rem;
    background-color:#ffffff;
    border-radius: 7.5rem 7.5rem 7.5rem 7.5rem;
    position: relative;
    justify-content: center;
    align-items: center;
}

.rose .needle {
    width: 2px;
    height: 7rem;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%) translatey(-50%) rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

.rose .needle .arrow {

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid red; /* Cambia el color de fondo de la flecha aquí */
    transform-origin: bottom;
    transform: translateX(-43%) translatey(-50%) rotate(0deg);

}

.rose .rose_mark_1 {
    position: relative;
    text-align: center;
    max-width: 3rem;
    align-self: center;
    transform-origin: center;
    transform: translateX(200%) translatey(20%) rotate(0deg);
}

.rose .rose_mark_2 {
    position: relative;
    text-align: center;
    max-width: 3rem;
    transform-origin: center;
    transform: translateX(350%) translatey(-40%) rotate(0deg);
}

.rose .rose_mark_3 {
    position: relative;
    text-align: center;
    max-width: 3rem;
    transform-origin: center;
    transform: translateX(390%) translatey(-20%) rotate(0deg);
}

.rose .rose_mark_4 {
    position: relative;
    text-align: center;
    max-width: 3rem;
    transform-origin: center;
    transform: translateX(350%) translatey(0%) rotate(0deg);
}

.rose .rose_mark_5 {
    position: relative;
    text-align: center;
    max-width: 3rem;
    transform-origin: center;
    transform: translateX(200%) translatey(-40%) rotate(0deg);
}

.rose .rose_mark_6 {
    position: relative;
    text-align: center;
    max-width: 3rem;
    transform-origin: center;
    transform: translateX(40%) translatey(-200%) rotate(0deg);
}

.rose .rose_mark_7 {
    position: relative;
    text-align: center;
    max-width: 3rem;
    transform-origin: center;
    transform: translateX(10%) translatey(-420%) rotate(0deg);
}

.rose .rose_mark_8 {
    position: relative;
    text-align: center;
    max-width: 3rem;
    transform-origin: center;
    transform: translateX(40%) translatey(-630%) rotate(0deg);
}

.dir_value {
    text-align: center;
}

/* Estilos generales */
.temperature_graf {
    width: 12.5rem; /* Ancho del gráfico */
    height: 15rem; /* Alto del gráfico */
    border: 1px solid #ccc;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
    position: relative;
    margin-left: 2.5rem;

    margin-bottom: 4rem;
    flex-direction: row;
}


/* Estilos para las barras */
.indoor-bar, .outdoor-bar{
    width: calc(40% - 10px); /* Ancho de cada barra */
    height: 0; /* La altura se establecerá dinámicamente */
    background-color: #007bff; /* Color de las barras */
    position: absolute;
    bottom: 0; /* Alineación en la parte inferior del gráfico */
    transition: height 0.5s ease; /* Efecto de transición para la altura */
    
}
/*
.outdoor-bar {
    width: calc(40% - 10px); /* Ancho de cada barra 
    height: 0; /* La altura se establecerá dinámicamente 
    background-color: #007bff; /* Color de las barras 
    position: absolute;
    bottom: 0; /* Alineación en la parte inferior del gráfico 
    transition: height 0.5s ease; /* Efecto de transición para la altura 
}
*/
.temp_in_value, .temp_out_value {
    position: absolute;
    text-align: center;
    max-width: 4rem;
    font-size: 1rem;
    
}

/* Estilos para el eje X */
.temperature_graf .x_axe {
    position: absolute;
    bottom: -5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

/* Estilos para las etiquetas del eje X */
.temperature_graf .x_axe .x_label {
    font-size: 1.2rem;
    max-height: fit-content;
    width: fit-content;
    left: 50%;
}

/* Estilos para el eje Y */
.temperature_graf .y_axe {
    position: absolute;
    left: -3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    bottom: 4.2rem;
}

/* Estilos para las etiquetas del eje Y */
.temperature_graf .y_axe .y_label {
    font-size: 1.4rem;
    transform: translateY(0%);
    max-height: fit-content;
    padding-top: 2.15rem;
    text-align: right;
}

/*-----Rain Graf-----*/

.rain_graf {
    width: 23rem; /* Ancho del gráfico */
    height: 15rem; /* Alto del gráfico */
    border: 1px solid #ccc;
    
    margin-left: 2rem;
    margin-right: rem;
    margin-bottom: 4rem;
    box-sizing: border-box;
    position: relative;
   
    flex-direction: row;
}

.rain-day-bar, .rain-storm-bar, .rain-rate-bar {
    width: calc(25% - 10px); /* Ancho de cada barra */
    height: 0; /* La altura se establecerá dinámicamente */
    background-color: #007bff; /* Color de las barras */
    position: absolute;
    bottom: 0; /* Alineación en la parte inferior del gráfico */
    transition: height 0.5s ease; /* Efecto de transición para la altura */
    
}

.rain_day_value, .rain_storm_value, .rain_rate_value {
    position: absolute;
    text-align: center;
    width: 4rem;
    font-size: 1rem;
}

/* Estilos para el eje X */
.rain_graf .x_axe {
    position: absolute;
    bottom: -2rem;
    width: 100%;
    display: flex;
}

/* Estilos para las etiquetas del eje X */
.rain_graf .x_axe .x_label {
    font-size: 1.2rem;
    max-height: fit-content;
    width: fit-content;
    margin-left: 1rem;
}

/* Estilos para el eje Y */
.rain_graf .y_axe {
    position: absolute;
    left: -2.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    bottom: 6.8rem;
}

/* Estilos para las etiquetas del eje Y */
.rain_graf .y_axe .y_label {
    font-size: 1.4rem;
    transform: translateY(0%);
    max-height: fit-content;
    padding-top: 4.7rem;
    text-align: right;
}

/*-----Humidity gauge-----*/

.humidity_gauge {
    width: 15rem;
    height: 7.5rem;
    background-color:#ffffff;
    border-radius: 7.5rem 7.5rem 0 0;
    position: relative;
    overflow: hidden;
}

.humidity_gauge .needle {
    width: 2px;
    height: 7rem;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(-90deg);
    transition: transform 0.5s ease-in-out;
}

.humidity_gauge::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.hum-mark {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 5px;
    background-color: #000;
    transform-origin: bottom;
    /*transform: translateX(-50%);*/
}

.hum-mark:nth-child(10n) {
    height: 5px;
}

.hum_value {
    position: relative;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
}

/*-----Solar rad y UV-----*/

.solar_radiation_gauge {
    width: 15rem;
    height: 15rem;
    background-color:#ffffff;
    border-radius: 7.5rem 7.5rem 7.5rem 7.5rem;
    position: relative;
    justify-content: center;
    align-items: center;
}

.solar_radiation_gauge .sun {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.5rem 0 0 -1.5rem;
    background-color: #ffdb00;
}

.sun .ray {
    position: absolute;
    width: 2px; /* Ancho de los rayos del sol */
    height: 10.5rem;
    max-height: 7.5rem; /* Largo de los rayos del sol */
    background-color: #ffdb00; /* Color amarillo del sol */
    top: 50%;
    left: 50%;
    transform-origin: bottom;
    
}

@keyframes rotateRay1 {
    from {
        transform: translate(-50%, -100%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -100%) rotate(360deg);
    }
}

@keyframes rotateRay2 {
    from {
        transform: translate(-50%, -100%) rotate(45deg);
    }
    to {
        transform: translate(-50%, -100%) rotate(405deg);
    }
}

@keyframes rotateRay3 {
    from {
        transform: translate(-50%, -100%) rotate(90deg);
    }
    to {
        transform: translate(-50%, -100%) rotate(450deg);
    }
}

@keyframes rotateRay4 {
    from {
        transform: translate(-50%, -100%) rotate(135deg);
    }
    to {
        transform: translate(-50%, -100%) rotate(495deg);
    }
}

@keyframes rotateRay5 {
    from {
        transform: translate(-50%, -100%) rotate(180deg);
    }
    to {
        transform: translate(-50%, -100%) rotate(540deg);
    }
}

@keyframes rotateRay6 {
    from {
        transform: translate(-50%, -100%) rotate(225deg);
    }
    to {
        transform: translate(-50%, -100%) rotate(585deg);
    }
}

@keyframes rotateRay7 {
    from {
        transform: translate(-50%, -100%) rotate(270deg);
    }
    to {
        transform: translate(-50%, -100%) rotate(630deg);
    }
}

@keyframes rotateRay8 {
    from {
        transform: translate(-50%, -100%) rotate(315deg);
    }
    to {
        transform: translate(-50%, -100%) rotate(675deg);
    }
}
.ray:nth-child(1) {
    transform: translate(-50%, -100%) rotate(0deg);
    animation: rotateRay1 10s linear infinite; /* Animación de rotación */
}

.ray:nth-child(2) {
    transform: translate(-50%, -100%) rotate(45deg);
    animation: rotateRay2 10s linear infinite; /* Animación de rotación */
}

.ray:nth-child(3) {
    transform: translate(-50%, -100%) rotate(90deg);
    animation: rotateRay3 10s linear infinite; /* Animación de rotación */
}

.ray:nth-child(4) {
    transform: translate(-50%, -100%) rotate(135deg);
    animation: rotateRay4 10s linear infinite; /* Animación de rotación */
}

.ray:nth-child(5) {
    transform: translate(-50%, -100%) rotate(180deg);
    animation: rotateRay5 10s linear infinite; /* Animación de rotación */
}

.ray:nth-child(6) {
    transform: translate(-50%, -100%) rotate(225deg);
    animation: rotateRay6 10s linear infinite; /* Animación de rotación */
}

.ray:nth-child(7) {
    transform: translate(-50%, -100%) rotate(270deg);
    animation: rotateRay7 10s linear infinite; /* Animación de rotación */
}

.ray:nth-child(8) {
    transform: translate(-50%, -100%) rotate(315deg);
    animation: rotateRay8 10s linear infinite; /* Animación de rotación */
}

.solar_rad_value {
    text-align: center;
}

.uv_index_gauge {
    width: 7.5rem; /* Ancho del gráfico */
    height: 15rem; /* Alto del gráfico */
    border: 1px solid #ccc;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1rem;
    box-sizing: border-box;
    position: relative;
    margin-left: 2.5rem;
    margin-bottom: 4rem;
    flex-direction: row;
}

.uv_index_gauge .bar {
    width: calc(75% - 10px); /* Ancho de cada barra */
    height: 0; /* La altura se establecerá dinámicamente */
    background-color: #007bff; /* Color de las barras */
    border-radius: 25% 25% 0 0;
    position: absolute;
    bottom: 0; /* Alineación en la parte inferior del gráfico */
    transition: height 0.5s ease; /* Efecto de transición para la altura */
}

.uv_index_gauge .x_axe {
    position: absolute;
    bottom: -3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.uv_index_gauge .x_axe .x_label {
    font-size: 1.2rem;
    max-height: fit-content;
    width: fit-content;
    left: 50%;
}

.uv_index_gauge .y_axe {
    position: absolute;
    left: -1.8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    bottom: 2.5rem;
}

.uv_index_gauge .y_axe .y_label {
    font-size: 1rem;
    transform: translateY(0%);
    max-height: fit-content;
    padding-top:1rem;
    text-align: right;
}

.uv_value {
    position: absolute;
    text-align: center;
    width: 4rem;
    font-size: 1rem;
    
}
/*--------------------------------DataTable---------------------------------*/
table.dataTable thead {
    background-color: #cc3423;
}
